name: Source web tool scripts in container r2dii/r-packages
on: push
jobs:
  Source-web-tool-scripts:
    container: 2dii/r-packages:latest
    runs-on: ubuntu-latest
    name: Source web tool scripts in container r2dii/r-packages
    strategy:
      fail-fast: false
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
    steps:
      # When checking out the repository that triggered a workflow, `ref:`
      # defaults to the reference or SHA for that event. Otherwise, uses the
      # default branch --https://github.com/actions/checkout
      - name: Checkout PACTA_analysis
        uses: actions/checkout@v2
        with:
          repository: 2DegreesInvesting/PACTA_analysis
          token: ${{ secrets.MAURO_PAT_FOR_2DII }}
          path: PACTA_analysis
      - name: Checkout pacta-data
        uses: actions/checkout@v2
        with:
          repository: 2DegreesInvesting/pacta-data
          token: ${{ secrets.MAURO_PAT_FOR_2DII }}
          path: pacta-data
      - name: Checkout create_interactive_report
        uses: actions/checkout@v2
        with:
          repository: 2DegreesInvesting/create_interactive_report
          token: ${{ secrets.MAURO_PAT_FOR_2DII }}
          path: create_interactive_report
      - name: Checkout r2dii.climate.stress.test
        uses: actions/checkout@v2
        with:
          repository: 2DegreesInvesting/r2dii.climate.stress.test
          token: ${{ secrets.MAURO_PAT_FOR_2DII }}
          path: r2dii.climate.stress.test
      - name: Checkout r2dii.stress.test.data
        uses: actions/checkout@v2
        with:
          repository: 2DegreesInvesting/r2dii.stress.test.data
          token: ${{ secrets.MAURO_PAT_FOR_2DII }}
          path: r2dii.stress.test.data
      - name: Setup tinytex
        run: |
          install.packages('tinytex')
          tinytex::install_tinytex()
        shell: Rscript {0}
      - name: Source web-tool scripts
        run: |
          setwd("PACTA_analysis")
          source("R/source_web_tool_scripts.R")
          source_web_tool_scripts()
        shell: Rscript {0}
