on: [pull_request]

name: Test R scripts

jobs:
  Test-r-scripts:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})
    strategy:
      fail-fast: false
      matrix:
        config:
          - {os: macOS-latest,   r: 'release'}
    env:
      R_REMOTES_NO_ERRORS_FROM_WARNINGS: true
      RSPM: ${{ matrix.config.rspm }}
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - name: Checkout PACTA_analysis
        uses: actions/checkout@v2
        with:
          repository: 2DegreesInvesting/PACTA_analysis
          token: ${{ secrets.MAURO_PAT_FOR_2DII }}
          path: PACTA_analysis

      - name: Checkout pacta-data
        uses: actions/checkout@v2
        with:
          repository: 2DegreesInvesting/pacta-data
          token: ${{ secrets.MAURO_PAT_FOR_2DII }}
          path: pacta-data

      - name: Checkout create_interactive_report
        uses: actions/checkout@v2
        with:
          repository: 2DegreesInvesting/create_interactive_report
          token: ${{ secrets.MAURO_PAT_FOR_2DII }}
          path: create_interactive_report

      - name: Checkout StressTestingModelDev
        uses: actions/checkout@v2
        with:
          repository: 2DegreesInvesting/StressTestingModelDev
          token: ${{ secrets.MAURO_PAT_FOR_2DII }}
          path: StressTestingModelDev

      - name: Checkout user_results
        uses: actions/checkout@v2
        with:
          repository: 2DegreesInvesting/user_results
          token: ${{ secrets.MAURO_PAT_FOR_2DII }}
          path: user_results

      - uses: r-lib/actions/setup-pandoc@master
      - uses: r-lib/actions/setup-tinytex@v1
      - uses: r-lib/actions/setup-r@master
        with:
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}

      - name: Install dependencies from CRAN
        run: |
          install.packages("rmarkdown")
          install.packages("knitr")
          install.packages("renv")
          dependencies <- renv::dependencies("PACTA_analysis")$Package
          install.packages(dependencies)
        shell: Rscript {0}

      - name: Test R scripts
        run: |
          setwd("PACTA_analysis")
          source("R/test_r_scripts.R")
          test_r_scripts()
        shell: Rscript {0}
